<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Svg sprite demo</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    </head>
    <body>
        <div>
            <h3>Hover svg</h3>
            <svg class="svg-icon" title="Still sharp!">
                <use xlink:href="/assets/svg/sprites.svg#icon-social-twitter"></use>
            </svg>
            <svg class="svg-icon" title="Still sharp!">
                <use xlink:href="/assets/svg/sprites.svg#icon-social-facebook"></use>
            </svg>
            <svg class="svg-icon" title="Still sharp!">
                <use xlink:href="/assets/svg/sprites.svg#icon-social-google"></use>
            </svg>
        </div>
        <div>
            <a href="/index.html">Back</a>
        </div>
    </body>
</html>